body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contact_body {
    display: flex;
    margin: 0;
}
a {
    text-decoration: none;
}

h1 {
    font-size: 1.3rem;
    color: white;
}
.contact_body_part1, .contact_body_part2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: black;
    height: 100vh;
    color: white;
    padding: 2.5rem;
}

#contact {
    font-size: 2.5rem;
}

.contact_body_part2 {
    flex: 1;
    height: 100vh;
    background-color: white;
    color: #000;
    align-items: left;
    padding-top: 1rem;
    padding-left: 8rem;
    padding-right: 8rem;
}

li {
    margin-bottom: 1.5rem;
}

#p_li {
    color: gray;
    font-size: 0.8rem;
}

#p_form {
    color: gray;
    font-size: 1rem;
}

input {
    border-radius: 0.5rem;
    border-width: 1px;
    padding: 0.8rem;
    border-color: rgb(233, 225, 225);
    margin-bottom: 1rem;
    width: 100%;
}

button {
    margin-top: 2rem;
    border-radius: 1.5rem;
    border-width: 1px;
    padding: 1rem;
    background-color: gray;
    color: white;
    border-color: rgb(233, 225, 225);
    font-size: 1rem;
}

.form_footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgb(205, 202, 202);
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1.2rem;
}

.form_footer p, .form_footer button {
 flex: 1;
}

.form_footer button {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    font-size: 1rem;
}